@import "tailwindcss";

@theme {
  --font-*: initial;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --text-*: initial;
  --text-sm: 0.9rem;
  --text-sm--line-height: 1rem;
  --text-base: 1.125rem;
  --text-base--line-height: 1.5rem;
  --text-md:1.35rem;
  --text-md--line-height: 1.5rem;

  --drop-shadow-my-shadow: 0 0 6px oklch(50% 0 0);

  --animate-wobble: wobble 3s both infinite;
  --animate-kenburns-left: kenburns-left 15s 3s linear both;
  --animate-kenburns-right-invert: kenburns-right-invert 15s linear both;
}

@theme inline {
  /* --font-roboto-regular: var(--font-roboto-regular); */
  /* --font-roboto-italic: var(--font-roboto-italic); */
}

@plugin "daisyui" {
}

@plugin "daisyui/theme" {
  name: "light-theme";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  /* Text color */
  --color-base-content: oklch(27.11% 0.039 39.93);

  /* Background color */
  --color-base-100: oklch(96.48% 0.017 17.46);
  --color-base-200: oklch(98.18% 0.009009553482392496 34.30327182035201);
  --color-base-300: oklch(91.45% 0.039 17.89);

  --color-primary: oklch(93.68% 0.03200956182285715 15.361930351486542);
  --color-primary-content: oklch(38.96% 0.0617 40);

  --color-secondary: oklch(85% 0.199 91.936);
  --color-secondary-content: oklch(12% 0.042 264.695);

  --color-accent: oklch(93.68% 0.03200956182285715 15.361930351486542);
  --color-accent-content: oklch(27% 0.105 12.094);

  --color-neutral: oklch(80.38% 0.111 15.65);
  --color-neutral-content: oklch(12% 0.042 264.695);

  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);

  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.003 247.858);

  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);

  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(98% 0.003 247.858);
  
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark-theme";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(96.48% 0.017 17.46);
  --color-base-200: oklch(98.18% 0.009009553482392496 34.30327182035201);
  --color-base-300: oklch(91.45% 0.039 17.89);
  --color-base-content: oklch(27.11% 0.039 39.93);

  --color-primary: oklch(93.68% 0.03200956182285715 15.361930351486542);
  --color-primary-content: oklch(38.96% 0.0617 40);

  --color-secondary: oklch(85% 0.199 91.936);
  --color-secondary-content: oklch(12% 0.042 264.695);

  --color-accent: oklch(93.68% 0.03200956182285715 15.361930351486542);
  --color-accent-content: oklch(27% 0.105 12.094);

  --color-neutral: oklch(80.38% 0.111 15.65);
  --color-neutral-content: oklch(12% 0.042 264.695);

  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);

  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.003 247.858);

  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);

  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(98% 0.003 247.858);
  
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@layer base {
}

@layer components {

  .box-container {
    @apply
      max-w-[85%]
      mx-auto
      md:max-w-[85%]
      md:mx-auto
      lg:w-[80%]
      lg:max-w-[1100px]
      lg:mx-auto
  }
}

@source "../components/";


.box-shadow {
  filter: drop-shadow(0 0 0.25rem #afaead);
}

/* Remove input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes wobble {
  0%, 50% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  7% {
    transform: translateX(-7px) rotate(-3deg);
  }
  15% {
    transform: translateX(3px) rotate(3deg);
  }
  22% {
    transform: translateX(-3px) rotate(-1.8deg);
  }
  30% {
    transform: translateX(2px) rotate(1.2deg);
  }
  38% {
    transform: translateX(-1px) rotate(-0.6deg);
  }
}

@keyframes kenburnsleft {
  0% { 
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 50%;
  }
  100% { 
    transform: scale(2) translate(-20px, 15px);
    transform-origin: left;
  }
}

@keyframes kenburns-right-invert {
  0% { 
    transform: scale(2) translate(0, 0);
    transform-origin: left
  }
  100% { 
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 50%
  }
}